.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.displayValue {
	width: 15rem;
	height: 4.5rem;
	padding: 1rem;
	background-color: #202020;
	color: #fff;
	font-size: 3.75rem;
}

.calcContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
.clearDot {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 0rem;
}

.zeroEqual {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: -3rem;
}

.calcButton {
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #202020;
	background-color: orange;
	color: #fff;
	font-size: 2rem;
}

@media (min-width: 786px) {
	.container {
		min-height: 100vh;
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.displayValue {
		width: 20rem;
		height: 6rem;
		padding: 0.4rem;
		background-color: #202020;
		color: #fff;
		font-size: 5rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.calcContainer {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.zeroEqual {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		margin-top: -4rem;
	}

	.calcButton {
		width: 100%;
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #202020;
		background-color: orange;
		color: #fff;
		font-size: 2rem;
	}
}
