.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.displayValue {
	width: 15rem;
	height: 4.5rem;
	padding: 0.2rem;
	background-color: #202020;
	color: #fff;
	font-size: 3.75rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (min-width: 786px) {
	.container {
		min-height: 100vh;
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.displayValue {
		width: 20rem;
		height: 6rem;
		padding: 0.4rem;
		background-color: #202020;
		color: #fff;
		font-size: 5rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
